.yes-button {
    font-size: medium;
    background-color: greenyellow;
    display: inline-block;
}

.no-button {
    font-size: medium;
    background-color: tomato;
    display: inline-block;
}

.no-wrap {
    white-space: nowrap;
    overflow-x: hidden;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    text-align: center;
    background-color: pink;
    min-height: 100vh;
    overflow-x: hidden;
}
